.panel-seccion {
    margin-bottom: 2px;
}

.panel-seccion .panel-heading {
    background-color: #EEE;

}

.panel-seccion a {
    text-decoration: none;
}

.icon-xs {
    font-size: 10px;
}

.icon-sm {
    font-size: 13px;
    margin-top: -4px;
}

.secundario {
    margin-top: 1px;
}

.d {
    margin-right: 5px;
}

.i {
    margin-left: 5px;
}

.panel-body-principal {
    padding: 2px;
}

.icon-derecha {
    float: right;
}

.lista-iconos {
    margin: 20px;
}

.icono-nombre {
    padding: 7px 15px;
}

.img-xs {
    margin-right: 4px;
}

.lista-iconos {
    margin: 20px 10px;
    border: 2px solid transparent;

}

.lista-iconos:hover {
    border: 2px solid #337AB7;
}

.panel-heading-icono .img-thumbnail {
    margin-top: 15px;
}
