.panel-seccion {
    margin-bottom: 2px;
}

.panel-seccion .panel-heading {
    background-color: #EEE;

}

.panel-seccion a {
    text-decoration: none;
}

.icon-xs {
    font-size: 10px;
}

.icon-sm {
    font-size: 13px;
}

.d {
    margin-right: 5px;
}

.i {
    margin-left: 5px;
}

.panel-body-principal {
    padding: 2px;
}

.icon-derecha {
    float: right;
}
