html,
body {
    height: 100%;
    font-family: "Lato", sans-serif;
    background: #555;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -50px;
    padding: 0 0 60px;
    background: url("/imagenes/fondo.png") fixed;
    /* background-color: #F0F0F0; */
    /* background: #555; */
}

hr {
    border-top-color: #BBB;
}

.divider {
    background-color: #BBB!important;
}

.navbar-inverse {
    background: linear-gradient(#111, #444);
}

.navbar-inverse li.active > a {
    background-color: #337ab7!important;
}

.panel-heading-principal {
    background: linear-gradient(#255986, #3a8bd0);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.panel-heading-danger {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.panel-principal {
    /* border: 0px solid; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.panel-body-gris {
    background-color: #EEE;
}

.menu-item {
    border-right: 1px solid #555;
}

.menu-item-principal {
    border-left: 1px solid #555;
}

.breadcrumb {
    background-color: #333;
}
.breadcrumb .active {
    color: #999;
}

.breadcrumb a {
    /* color: #007bff; */
}

.breadcrumb a:hover {
    color: #419be9;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 50px;
    background-color: #222;
    border-top: 1px solid #080808;
    padding-top: 15px;
    color: #9d9d9d;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.img-xss {
    height: 20px;
}

.img-xs {
    height: 26px;
}

.img-sm {
    height: 32px;
}

.img-md {
    margin-right: 20px;
    height: 96px;
}

.user-dropdown > a.dropdown-toggle {
    padding-top: 9px!important;
    padding-bottom: 9px!important;
}

.user-dropdown .dropdown-menu {
    background-color: #EEE;
}

#menu-casa a {
    padding: 5px 15px;
}

.badge {
    background-color: #d9534f;
}

.borde_sup_red {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
