html,
body {
    height: 100%;
    font-family: "Lato", sans-serif;
    background: #555;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -50px;
    padding: 0 0 60px;
    background: url("/imagenes/fondo.png") fixed;
    /* background-color: #F0F0F0; */
    /* background: #555; */
}

hr {
    border-top-color: #BBB;
}

.divider {
    background-color: #BBB!important;
}

.navbar-inverse {
    background: linear-gradient(#111, #444);
}

.navbar-inverse li.active > a {
    background-color: #337ab7!important;
}

.panel-heading-principal {
    background: linear-gradient(#255986, #3a8bd0);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.panel-heading-danger {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.panel-principal {
    /* border: 0px solid; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.panel-body-gris {
    background-color: #EEE;
}

.menu-item {
    border-right: 1px solid #555;
}

.menu-item-principal {
    border-left: 1px solid #555;
}

.breadcrumb {
    background-color: #333;
}
.breadcrumb .active {
    color: #999;
}

.breadcrumb a {
    /* color: #007bff; */
}

.breadcrumb a:hover {
    color: #419be9;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 50px;
    background-color: #222;
    border-top: 1px solid #080808;
    padding-top: 15px;
    color: #9d9d9d;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.img-xss {
    height: 20px;
}

.img-xs {
    height: 26px;
}

.img-sm {
    height: 32px;
}

.img-md {
    margin-right: 20px;
    height: 96px;
}

.user-dropdown > a.dropdown-toggle {
    padding-top: 9px!important;
    padding-bottom: 9px!important;
}

.user-dropdown .dropdown-menu {
    background-color: #EEE;
}

#menu-casa a {
    padding: 5px 15px;
}

.badge {
    background-color: #d9534f;
}

.borde_sup_red {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.pie {
    font-size: 0.85em;
    margin-bottom: 5px;
}

.lista-pines h4 {
    margin-bottom: 5px;
    display: inline-block;
}

.padding-bottom-sm {
    padding-bottom: 40px;
}

.img-servidor {
    padding: 10px 0px 20px 0px;
    width: 100%;
    max-width: 418px
}

.padding-l-0 {
    padding-left: 0px;
}

.scrollTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: 2px solid white;
  outline: none;
  background-color: #222;
  color: white;
  cursor: pointer;
  padding: 10px;
}

.scrollTop:hover {
  background-color: #AAA;
}

.btn-circle.btn-top {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
        .navbar-nav .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .navbar-nav .open .dropdown-menu > li > a {
            line-height: 20px;
        }
        .navbar-nav .open .dropdown-menu > li > a,
        .navbar-nav .open .dropdown-menu .dropdown-header {
            padding: 5px 15px 5px 25px;
        }
        .dropdown-menu > li > a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
        }
        .navbar-header {
            float: none;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav {
            float: none!important;
            /*margin: 7.5px -15px;*/
            margin: 7.5px 50px 7.5px -15px
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .navbar-text {
            float: none;
            margin: 15px 0;
        }
        /* since 3.1.0 */
        .navbar-collapse.collapse.in {
            display: block!important;
            /* height: 200px!important; */
            overflow-y: auto!important;
        }
        .collapsing {
            overflow: hidden!important;
        }
    }
